@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.footer {
  height: 10%;
  width: 100%;
  background-color: aliceblue;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.widget {
  width: 5rem;
  height: 5rem;
  border:none;
  background: none;
  color: inherit;
  outline: none;
}

.widget:focus{
  border: none;
  outline: none;
}

.none {
  display :none;
}

.block {
  display :unset;
  margin-top: 6%;
  margin-right:4%;
  margin-left:4%;
}

.devto{
  font-size: small;
}

.time-circle{
  display: flex;
  justify-content: center;
  width:100%;
  max-width:10rem;
  height: 10rem;
  position:relative;
  display:grid;
  border:3px solid #0288D1;
  border-radius:50%;
  color:#0288D1;


}

.time {
  display: flex;
  align-items: center;
  font-size: 40px;
}

.container-btn-message{
  display: flex;
  flex-direction: column;
}

.btn-Pause{
  margin-top: 10px;
  width:50px;
  height: 50px;
  border-radius:100%;
  border:1px solid #0288D1;
  outline: none;
  
}
.btn-Play{
  margin-top: 10px;
  width:50px;
  height: 50px;
  border-radius:100%;
  border:1px solid #0288D1;
  outline: none;

}
.btn-Play:focus{
  outline: none;

}
.btn-Reset:focus{
  outline: none;

}
.btn-Pause:focus{
  outline: none;

}
.btn-Reset{
  margin-top: 10px;
  width:50px;
  height: 50px;
  border-radius:100%;
  border:1px solid white;
  outline: none;
  color:#0288D1;

}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.weather-title{
  margin-top: 3%;
  width: 80%;
}

.region{
  margin: 0; 
}

.cloud{
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.condition{
  margin: 0;
}